.buscador{
  width: 100%;
  display: flex;
  position: relative;
  margin-right: 10px;
}

.buscador-input{
  width: 100%;
}

.buscador-input input{
  width: 100%;
  height: 35px;
  padding: 10px;
  padding-left: 30px;
  border: none;
  border-radius: 3px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.buscador-input input:focus{
  outline: none;
}

.buscador-btn button{
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: transparent;
  border: none;

  display: flex;
  align-items: center;
  justify-content: center;
}

.buscador-icon{
  font-size: 20px;
}

@media screen and (min-width:1024px) {
  .buscador-input input{
    max-width: 360px;
  }
}