.pokedex-container{
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  margin-bottom: 15px;
}

h2{
  margin: 0;
}

@media screen and (min-width:768px) {
  .pokedex-container{
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
  }
}

@media screen and (min-width:1024px) {
  .pokedex-container{
    grid-template-columns: repeat(3, 1fr);
  }

}